.pokemon-card {
    background-color: #0c470083;
    border-radius: 30px;
    box-shadow: 1 8px 8px rgba(255, 255, 255, 0.1);
    padding: 25px;
    max-width: 400px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pokemon-image {
    max-width: 100%;
    border-radius: 16px;
    margin-bottom: 16px;
}

.pokemon-info {
    background-color: #8cf78c; 
    border-radius: 15px;
    padding: 14px;
    margin-bottom: 14px;
}

.pokemon-name {
    font-family: 'Verdana', sans-serif;
    color:   #019e16; 
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 14px;
}

.pokemon-type {
    color:   #000000; 
    margin-bottom: 8px;
    font-weight: 1000;
}

.pokemon-description {

    font-size: 18px;
    color:  #000000; 
}